.calendar {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 15px;
}

.topDisplay {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: space-between;
  color: #c5cbd3;
  font-weight: bold;
}

.arrowContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.arrow {
  cursor: pointer;
  border-radius: 50%;
  color: white;
  background-color: #a9cbcd;
  width: 25px;
  height: 25px;
  text-align: center;
  &:hover {
    background-color: #6aaeb2;
  }
}

.weekDaysContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.weekDay {
  flex: 0 0 14.285%;
  text-align: left;
  color: #c5cbd3;
}

.dayContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-left: thin solid #c5cbd3;
  border-top: thin solid #c5cbd3;
}

.day {
  padding-left: 3px;
  flex: 0 0 14.285%;
  text-align: left;
  height: 70px;
  color: #6aaeb2;
  border-right: thin solid #c5cbd3;
  border-bottom: thin solid #c5cbd3;
}
